<h1>Listing messages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Task</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project.messages.each do |message| %>
  <tr>
    <td><%= message.title %></td>
    <td><%= message.body %></td>
    <td><%= message.task %></td>
    <td><%= link_to 'Edit', edit_project_message_path(@project.id, message.id) %></td>
    <td><%= link_to 'Destroy', [@project, message], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_project_message_path %>
<%= link_to 'Back to Project', @project %>