<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @message.title %>
</p>

<p>
  <b>Body:</b>
  <%= @message.body %>
</p>

<p>
  <b>Task:</b>
  <%= @message.task %>
</p>

<p>
  <b>Project:</b>
  <%= @message.project %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
