<ul id='filterDetail'>
	<li class='news mail first active'><%= link_to "Nachrichten", project_messages_path(@project) %></li>
	<li class='news file'><%= link_to "Dateien", project_attachments_path(@project) %></li>
	<li class='news date'><a>Termine</a></li>
	<li class="last"><%= link_to "Neue Nachricht", new_project_message_path(@project) %></li>
</ul>
<div id='messages'>
  <% @project.messages.is_topic.each do |message| %>
    <div class="message <%= 'read' if message.readers.index(current_user.id) %>">
      <ul>
  			<li class='title'>
  			  <% if message.topic_id.nil? %>
  			    <%= link_to message.body[0..80]+"...", project_message_path(@project, message) %></li>
 			    <% else %>
  			    <%= link_to message.body[0..80]+"...", project_message_path(@project, message.topic_id) %></li>
  			  <% end %>
  			<li class='meta'>
  			<%= message.created_at.strftime("%d.%m.%Y") %> / <%= message.created_at.strftime("%H:%M") %> / <%= message.user %> / <%= message.title %> /
        <%= link_to "Edit", edit_project_message_path(@project, message) %> /
        <%= link_to "Delete", project_message_path(@project, message), confirm: 'Are you sure?', method: :delete %></li>
  		</ul>
  		<div class="clear"></div>
  		<% message.messages.each do |answer| %>
         <div class='answer read'>
             <ul>
                 <li class='title'><%= answer.body[0..80] %>...</li>
                 <li class='meta'>
                     <%= answer.title %>
                 </li>
             </ul>
             <div class="clear"></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>