<h1>Listing projects</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Messages</th>
    <th>Meta</th>
    <th>Actions</th>
  </tr>
<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.title, project %></td>
    <td><%= project.messages.count %></td>
    <td><%= project.id %> / <%= project.created_at.strftime("%d.%m.%Y") %></td>
    <td>
      <%= link_to 'Edit', edit_project_path(project) %>
      <%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
