<div id='projectBackground'>
  <% flash.each do |key, value| %>
    <div class ="flash <%= key %>"><div class="icon">&nbsp;</div><p><%= value %></p></div>
  <% end %>
	<ul id='manage'>
	   <% if params[:action] == 'new' %>
  	    <li class="selectArc"><%= link_to "Zurück zur Projektübersicht", projects_path(:closed => params[:closed] || 0), :remote => true %></li>
	  <% elsif params[:closed] == "0" %>
	    <li class="selectArc"><%= link_to "Projekt-Archiv anzeigen", projects_path(:closed => 1), :remote => true %></li>
	  <% else %>
	    <li class="selectArc"><%= link_to "Aktuelle Projekt anzeigen", projects_path, :remote => true %></li>
	  <% end %>
	  <% unless @project.new_record? %>
	    <li class='closeArc'><%= link_to 'Schließe Projektliste', projects_path, :remote => true %></li>
	  <% else %>
	    <li class='closeArc'><%= link_to 'Schließe Projektliste', @project, :remote => true %></li>
	  <% end %>
		<li class='create' style="<%= "#{'display:none' if @show_project_form}" %>"><%= link_to 'New Project', new_project_path(:closed => params[:closed] || 0), :remote => true %></li>
		<li class='closeCreate' style="<%= "#{'display:none' unless @show_project_form}" %>"><%= link_to 'Close Project Form', new_project_path(:closed => params[:closed] || 0), :remote => true %></li>
		  
	</ul>
	<div id='projectContainer'>
	  <% if @show_project_form %>
	    <%= render :partial => 'projects/form' %>
		<% elsif @show_projects %>
		  <%= render :partial => 'projects/list' %>
		<% end %>
	  <div class='clear'></div>
	</div>
	<% if @show_projects %>
  	<div id='calendarBackground'>
  		<div class='calendarLayout'></div>
  	</div>
  <% end %>
  <div class='clear'></div>
</div>
<% unless @project.new_record? %>
  <%= render :partial => 'projects/show' %>
<% end %>