<!DOCTYPE html>
<html>
<head>
  <title>Teambox</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller.controller_name %>">
  <div id="navigation">
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "My Account [#{current_user}]", edit_user_registration_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Create Account", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
  <div id="flash">
    <% flash.each do |key, value| %>
      <div class ="<%= key %>"><%= value %></div>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
